
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&display=swap');
@import "@fortawesome/fontawesome-free/css/all.min.css";

:root {
  --primary-blue: #2a52be;
  --cooling-blue: #0ea5e9;
  --bg-light: rgb(241 245 249);
  --text-main: #0f172a;
  --text-menu: rgb(100 116 139);
  --text-menu-hover: rgb(51 65 85);
}


body {
    font-family: 'Kanit', sans-serif !important;
}

nav{
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 0px;
}

nav .menu {
  display: flex;
  gap: 6px;
  background-color: var(--bg-light);
  border-radius: 10px;
  padding: 5px;
}

nav .menu .menu-item a{
  text-decoration: none;
  color: var(--text-menu);
  padding: 8px 12px;
  transition: all 0.3s ease;
  border: 0px;
}

nav .menu .menu-item a:hover{
  color: var(--text-menu-hover);
  transition: all 0.3s ease;
}

nav .menu .menu-item.active a{
  font-weight: 600;
  background-color: #fff;
  color: var(--primary-blue);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.modal-loading .loader {
    animation: rotate 1s infinite;
    height: 50px;
    width: 50px;
  }

  .modal-loading .loader:before,
  .modal-loading .loader:after {
    border-radius: 50%;
    content: "";
    display: block;
    height: 20px;
    width: 20px;
  }
  .modal-loading .loader:before {
    animation: ball1 1s infinite;
    background-color: #fff;
    box-shadow: 30px 0 0 #ff3d00;
    margin-bottom: 10px;
  }
  .modal-loading .loader:after {
    animation: ball2 1s infinite;
    background-color: #ff3d00;
    box-shadow: 30px 0 0 #fff;
  }

  @keyframes rotate {
    0% { transform: rotate(0deg) scale(0.8) }
    50% { transform: rotate(360deg) scale(1.2) }
    100% { transform: rotate(720deg) scale(0.8) }
  }

  @keyframes ball1 {
    0% {
      box-shadow: 30px 0 0 #ff3d00;
    }
    50% {
      box-shadow: 0 0 0 #ff3d00;
      margin-bottom: 0;
      transform: translate(15px, 15px);
    }
    100% {
      box-shadow: 30px 0 0 #ff3d00;
      margin-bottom: 10px;
    }
  }

  @keyframes ball2 {
    0% {
      box-shadow: 30px 0 0 #fff;
    }
    50% {
      box-shadow: 0 0 0 #fff;
      margin-top: -20px;
      transform: translate(15px, 15px);
    }
    100% {
      box-shadow: 30px 0 0 #fff;
      margin-top: 0;
    }
  }