@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&display=swap');
@import '@fortawesome/fontawesome-free/css/all.min.css';

:root {
  --primary-blue: #3887ff;
  --bg-light: #f1f5f9;

  --text-main: #0f172a;
  --text-primary: #3887ff;
  --text-gray: #64748b;
  --text-green: #16a34a;
  --text-red: #dc2626;
  --text-menu: #64748b;
  --text-title: #65758b;
  --text-menu-hover: #334155;
}

body {
  font-family: 'Kanit', sans-serif !important;
  background-color: var(--bg-light) !important;
}

.text-gray {
  color: var(--text-gray) !important;
}

.text-green {
  color: var(--text-green) !important;
}

.text-red {
  color: var(--text-red) !important;
}

.color-primary {
  color: var(--text-primary) !important;
}

nav {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 12px;
  position: relative;
  z-index: 1000;
}

.nav-mobile {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.nav-mobile .menu-mobile {
  display: flex;
  gap: 6px;
  background-color: var(--bg-light);
  border-radius: 10px;
  padding: 5px;
  align-items: center;
}

.navbar-brand a {
  color: inherit;
}

.menu {
  display: flex;
  gap: 6px;
  background-color: var(--bg-light);
  border-radius: 10px;
  padding: 5px;
  align-items: center;
}

.menu-item a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--text-menu);
  padding: 8px 12px;
  border-radius: 8px;
  border: 0;
  background: transparent;
  transition: all 0.3s ease;
}

.menu-item a:hover {
  color: var(--text-menu-hover);
}

.menu-item.active a {
  font-weight: 600;
  background-color: #fff;
  color: var(--primary-blue);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.time {
  font-size: 14px;
  color: #555;
  white-space: nowrap;
}
/* hamberger */
/* 
.menu-toggle {
  width: 32px;
  height: 24px;
  position: relative;
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.menu-toggle span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--primary-blue);
  border-radius: 3px;
  transition: all 0.3s ease;
}

.menu-toggle span:nth-child(1) {
  top: 0;
}
.menu-toggle span:nth-child(2) {
  top: 10px;
}
.menu-toggle span:nth-child(3) {
  bottom: 0;
}

.menu-toggle.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 10px;
}

.menu-toggle.open span:nth-child(2) {
  opacity: 0;
}

.menu-toggle.open span:nth-child(3) {
  transform: rotate(-45deg);
  bottom: 11px;
} */

@media (max-width: 480px) {
  .navbar-brand span {
    font-size: 16px;
  }

  .menu-item a {
    padding: 10px 12px;
    font-size: 15px;
  }
}

.modal-loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* Start Loaging */
.modal-loading .loader {
  animation: rotate 1s infinite;
  height: 50px;
  width: 50px;
}

.modal-loading .loader:before,
.modal-loading .loader:after {
  border-radius: 50%;
  content: '';
  display: block;
  height: 20px;
  width: 20px;
}
.modal-loading .loader:before {
  animation: ball1 1s infinite;
  background-color: #fff;
  box-shadow: 30px 0 0 #ff3d00;
  margin-bottom: 10px;
}
.modal-loading .loader:after {
  animation: ball2 1s infinite;
  background-color: #ff3d00;
  box-shadow: 30px 0 0 #fff;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(0.8);
  }
  50% {
    transform: rotate(360deg) scale(1.2);
  }
  100% {
    transform: rotate(720deg) scale(0.8);
  }
}

@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 #ff3d00;
  }
  50% {
    box-shadow: 0 0 0 #ff3d00;
    margin-bottom: 0;
    transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #ff3d00;
    margin-bottom: 10px;
  }
}

@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 #fff;
  }
  50% {
    box-shadow: 0 0 0 #fff;
    margin-top: -20px;
    transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #fff;
    margin-top: 0;
  }
}
/* end loading */

.fan {
  font-size: 40px;
  animation: spin 1.2s linear infinite;
  scale: 1.4;
}

.fan.hot {
  color: #dc3545;
}

.fan.cool {
  color: #198754;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flow-arrow {
  font-size: 32px;
  font-weight: bold;
  animation: flow-horizontal 1.2s ease-in-out infinite;
}

.flow-arrow.hot {
  color: #dc3545; /* red */
}

.flow-arrow.cool {
  color: #198754; /* green */
}

@keyframes flow-horizontal {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  50% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(10px);
  }
}

@media (max-width: 992px) {
  .fs-status-large {
    font-size: 48px !important;
  }
  .fs-status-medium {
    font-size: 36px !important;
  }
  .fs-status-small {
    font-size: 18px !important;
  }
  .fs-header {
    font-size: 16px !important;
  }
  .fs-title {
    font-size: 14px !important;
  }
  .fs-small {
    font-size: 12px !important;
  }
}

@media (max-width: 768px) {
    .flow-arrow {
    animation: flow-vertical 1.2s ease-in-out infinite;
  }
}

@keyframes flow-vertical {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(10px);
  }
}

.custom-card{
  border-radius: 12px;
  padding: 0;
  border: 1px solid var(--bg-light);
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  height: 100%;
  overflow: hidden;
}

.custom-card .header{
  background-color: #e4e9ed;
  padding: 12px 16px;
}

.custom-card .body{
  padding: 12px 16px;
}

.card-status {
  border-radius: 12px;
  padding: 25px 15px;
  border: 1px solid var(--bg-light);
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  height: 100%;
}


.card-status:hover {
  border-color: var(--primary-blue);
}

.card-status .icon {
  font-size: 20px;
  margin-right: 8px;
}

.fs-header {
  font-size: 24px;
  font-weight: 600;
  color: var(--text-main);
  cursor: default;
  transition: all 0.3s ease;
}

.fs-title {
  font-size: 18px;
  font-weight: 500;
  color: var(--text-title);
  cursor: default;
  transition: all 0.3s ease;
}

.fs-small {
  font-size: 14px;
  color: var(--text-title);
  cursor: default;
  transition: all 0.3s ease;
}

.fs-status-large {
  font-size: 72px;
  font-weight: 500;
  cursor: default;
  color: var(--text-title);
  transition: all 0.3s ease;
}

.fs-status-medium {
  font-size: 48px;
  font-weight: 500;
  cursor: default;
  color: var(--text-title);
  transition: all 0.3s ease;
}

.fs-status-small {
  font-size: 24px;
  font-weight: 500;
  cursor: default;
  color: var(--text-title);
  transition: all 0.3s ease;
}

.fa-circle-info{
  cursor: pointer;
}

.dialog{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  pointer-events: none;
}

.dialog.active {
  pointer-events: auto;
}

.dialog-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  pointer-events: none;
  opacity: 0;
  background-color: rgba(0,0,0,0.5);
}

.dialog-backdrop.active {
  pointer-events: auto;
  opacity: 1;
  transition: all 0.3s ease;
}

.dialog .dialog-content {
  background: #fff;
  max-width: 70vw;
  width: 500px;
  border-radius: 12px;
  z-index: 1000;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  z-index: 10;
  opacity: 0;
  transform: translateY(-100px);
  transition: all 0.3s ease;
}

.dialog.active .dialog-content {
  opacity: 1;
  transform: translateY(0px);
  transition: all 0.3s ease;
}

.dialog .dialog-content .dialog-header {
  display: flex;
  justify-content: space-between;
  padding: 12px 16px;
  border-bottom: 1px solid #e5e7eb;
}

.dialog .dialog-content .dialog-body {
  padding: 16px;
  font-size: 14px;
}

.card-status .type-value .type-value-item {
  background-color: var(--bg-light);
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 10px;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.card-status .type-value .type-value-item:hover {
  background-color: var(--primary-blue);
  color: var(--bg-light);
}
.card-status .type-value .type-value-item.active {
  background-color: var(--primary-blue);
  color: var(--bg-light);
}

.filter-status .header {
  background-color: var(--text-main);
  border-radius: 10px 10px 0 0;
  padding: 8px 12px;
}

.filter-status .body {
  border:  1px solid var(--text-main);
  padding: 12px 10px;
  border-radius: 0 0 10px 10px;
}

.filter-status .line-base .line-status{
  height: 15px;
}

.filter-status .line-base{
  border-radius: 5px;
  overflow: hidden;
  background-color: #dbdbdb;
  margin-top: 6px;
}

.filter-status .fa-gear{
  font-size: 18px;
  animation: spin 1.2s linear infinite;
}

